venv/

# Ignore all files in the media/photos directory
FamilyGallery/media/photos/*

# Ignore database file
FamilyGallery/db.sqlite3

# ignore __pycache__
FamilyGallery/gallery_app/__pycache__
FamilyGallery/FamilyGallery/__pycache__
