{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Gallery Administration</h1>
    {% if groups %}
        {% for group in groups %}
            <div class="card mb-4 shadow-sm">
                <div class="card-header text-white" style="background-color: #6c757d; padding: 0.75rem 1rem;">
                    <h5 class="my-0">{{ group.name }}</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Image Name</th>
                                    <th scope="col">Uploaded At</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for photo in group.photos.all %}
                                    <tr>
                                        <td>
                                            <form method="post" action="{% url 'delete_photo' photo.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </td>
                                        <td>{{ photo.image.name }}</td>
                                        <td>{{ photo.uploaded_at|date:"F j, Y, g:i a" }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            No photos available.
        </div>
    {% endif %}
</div>
{% endblock %}
