{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="my-4">Family Photo Gallery</h1>
    {% if photos_by_group %}
        <div class="accordion" id="accordionExample">
            {% for group, group_photos in photos_by_group.items %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ group.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ group.id }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                            {{ group.name }}
                        </button>
                    </h2>
                    <div id="collapse{{ group.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ group.id }}">
                        <div class="accordion-body">
                            <div class="row">
                                {% for photo in group_photos %}
                                    <div class="col-lg-3 col-md-4 col-6 mb-4">
                                        <div class="card h-100">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#photoModal{{ photo.id }}">
                                                <img src="{{ photo.image.url }}" class="card-img-top img-thumbnail" alt="{{ photo.title }}">
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="photoModal{{ photo.id }}" tabindex="-1" aria-labelledby="photoModalLabel{{ photo.id }}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="photoModalLabel{{ photo.id }}">{{ photo.title }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="{{ photo.image.url }}" class="img-fluid" alt="{{ photo.title }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No photos available.</p>
    {% endif %}
</div>
{% endblock %}
