{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <img src="{% static 'images/house.svg' %}" class="card-img-top" alt="Home">
            <div class="card-body">
                <h5 class="card-title">Home</h5>
                <a href="{% url 'home' %}" class="btn btn-primary">Go to Home</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="{% static 'images/images.svg' %}" class="card-img-top" alt="Gallery">
            <div class="card-body">
                <h5 class="card-title">Gallery</h5>
                <a href="{% url 'gallery' %}" class="btn btn-primary">Go to Gallery</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="{% static 'images/upload.svg' %}" class="card-img-top" alt="Upload">
            <div class="card-body">
                <h5 class="card-title">Upload</h5>
                <a href="{% url 'upload' %}" class="btn btn-primary">Go to Upload</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}